html,
body {
  background: #497bad;
  color: #ffffff;
  text-align: center;
  padding: 30px 0;
}
.container {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 2px dashed rgba(255, 255, 255, 0.3);
}
.container .row [class*="col-"] {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  padding: 5px;
}
.container .row [class*="col-"] .element {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 10px;
  background: rgba(225, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
}
