.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}
.container .row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: block;
}
.container .row:last-of-type {
  margin-bottom: 0;
}
.container .row [class*="col-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  padding: 0;
}
.container .row [class*="col-"] .element:last-of-type {
  margin-bottom: 0;
}
.container .row [class*="col-"]:last-of-type {
  margin-right: 0;
}
.container .row:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media only screen and (min-width: 1225px) {
  .container {
    width: 1220px;
    padding: 30px 28px;
  }
  .container .row {
    margin-bottom: 30px;
  }
  .container .row [class*="col-"] {
    margin: 0 30px 0 0;
  }
  .container .row .col-1 {
    width: 69.16666666666667px;
  }
  .container .row .col-2 {
    width: 168.33333333333334px;
  }
  .container .row .col-3 {
    width: 267.5px;
  }
  .container .row .col-4 {
    width: 366.6666666666667px;
  }
  .container .row .col-5 {
    width: 465.83333333333337px;
  }
  .container .row .col-6 {
    width: 565px;
  }
  .container .row .col-7 {
    width: 664.1666666666667px;
  }
  .container .row .col-8 {
    width: 763.3333333333334px;
  }
  .container .row .col-9 {
    width: 862.5px;
  }
  .container .row .col-10 {
    width: 961.6666666666667px;
  }
  .container .row .col-11 {
    width: 1060.8333333333335px;
  }
  .container .row .col-12 {
    width: 1160px;
  }
  .container .row .element {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1224px) {
  .container {
    width: 980px;
    padding: 20px 18px;
  }
  .container .row {
    margin-bottom: 20px;
  }
  .container .row [class*="col-"] {
    margin: 0 20px 0 0;
  }
  .container .row .col-1 {
    width: 60px;
  }
  .container .row .col-2 {
    width: 140px;
  }
  .container .row .col-3 {
    width: 220px;
  }
  .container .row .col-4 {
    width: 300px;
  }
  .container .row .col-5 {
    width: 380px;
  }
  .container .row .col-6 {
    width: 460px;
  }
  .container .row .col-7 {
    width: 540px;
  }
  .container .row .col-8 {
    width: 620px;
  }
  .container .row .col-9 {
    width: 700px;
  }
  .container .row .col-10 {
    width: 780px;
  }
  .container .row .col-11 {
    width: 860px;
  }
  .container .row .col-12 {
    width: 940px;
  }
  .container .row .element {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width:  768px) and (max-width: 1024px) {
  .container {
    width: 768px;
    padding: 20px 18px;
  }
  .container .row {
    margin-bottom: 20px;
  }
  .container .row [class*="col-"] {
    margin: 0 20px 0 0;
  }
  .container .row .col-1 {
    width: 42.333333333333336px;
  }
  .container .row .col-2 {
    width: 104.66666666666667px;
  }
  .container .row .col-3 {
    width: 167px;
  }
  .container .row .col-4 {
    width: 229.33333333333334px;
  }
  .container .row .col-5 {
    width: 291.6666666666667px;
  }
  .container .row .col-6 {
    width: 354px;
  }
  .container .row .col-7 {
    width: 416.33333333333337px;
  }
  .container .row .col-8 {
    width: 478.6666666666667px;
  }
  .container .row .col-9 {
    width: 541px;
  }
  .container .row .col-10 {
    width: 603.3333333333334px;
  }
  .container .row .col-11 {
    width: 665.6666666666667px;
  }
  .container .row .col-12 {
    width: 728px;
  }
  .container .row .element {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width:  767px) {
  .container {
    width: 100%;
    padding: 10px 10px;
  }
  .container .row {
    margin-bottom: 10px;
  }
  .container .row [class*="col-"] {
    margin: 0 10px 0 0;
  }
  .container .row .col-1 {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .container .row .col-1:last-of-type {
    margin: 0;
  }
  .container .row .col-2 {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .container .row .col-2:last-of-type {
    margin: 0;
  }
  .container .row .col-3 {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .container .row .col-3:last-of-type {
    margin: 0;
  }
  .container .row .col-4 {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .container .row .col-4:last-of-type {
    margin: 0;
  }
  .container .row .col-5 {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .container .row .col-5:last-of-type {
    margin: 0;
  }
  .container .row .col-6 {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .container .row .col-6:last-of-type {
    margin: 0;
  }
  .container .row .col-7 {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .container .row .col-7:last-of-type {
    margin: 0;
  }
  .container .row .col-8 {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .container .row .col-8:last-of-type {
    margin: 0;
  }
  .container .row .col-9 {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .container .row .col-9:last-of-type {
    margin: 0;
  }
  .container .row .col-10 {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .container .row .col-10:last-of-type {
    margin: 0;
  }
  .container .row .col-11 {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .container .row .col-11:last-of-type {
    margin: 0;
  }
  .container .row .col-12 {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .container .row .col-12:last-of-type {
    margin: 0;
  }
  .container .row .element {
    margin-bottom: 10px;
  }
}
@media print {
  .container {
    width: 980px;
    padding: 20px 20px;
  }
  .container .row {
    margin-bottom: 20px;
  }
  .container .row [class*="col-"] {
    margin: 0 20px 0 0;
  }
  .container .row .col-1 {
    width: 60px;
  }
  .container .row .col-2 {
    width: 140px;
  }
  .container .row .col-3 {
    width: 220px;
  }
  .container .row .col-4 {
    width: 300px;
  }
  .container .row .col-5 {
    width: 380px;
  }
  .container .row .col-6 {
    width: 460px;
  }
  .container .row .col-7 {
    width: 540px;
  }
  .container .row .col-8 {
    width: 620px;
  }
  .container .row .col-9 {
    width: 700px;
  }
  .container .row .col-10 {
    width: 780px;
  }
  .container .row .col-11 {
    width: 860px;
  }
  .container .row .col-12 {
    width: 940px;
  }
  .container .row .element {
    margin-bottom: 20px;
  }
}
